@lh-base: 1.5; // Line height
@gutter: 1.5rem;

// Font sizes
@fs-base: 18px;
@fs-xxl: 2rem;
@fs-xl: 1.5rem;
@fs-l: 1.25rem;
@fs-m: 1rem;
@fs-s: .85rem;
@fs-xs: .7rem;

// Colors
@c-gray: #c4c4c4;
@c-latte: #e8e2da;
@c-latte-dim: darken(@c-latte, 10%);
@c-latte-dim2: darken(@c-latte, 20%);
@c-pink: hotpink;
@c-ink: #5e5f91;
