<script id="docolatte-search-items" type="application/json"><?js= this.theme.search.items ?></script>
<script id="docolatte-search-index" type="application/json"><?js= this.theme.search.index ?></script>
<script id="docolatte-search-options" type="application/json"><?js= this.theme.search.options ?></script>
