<?js
    var data = obj;
    var self = this;
    var U = this.u;
?>
<?js data.forEach(function(example) { ?>
<figure class="code-wrap<?js= U.if(example.caption, ' has-caption') ?>">
    <pre class="prettyprint<?js= U.append(example.lang, ' lang-') ?>"><code><?js= self.htmlsafe(example.code) ?></code></pre>
    <?js   if (example.caption) { ?>
    <figcaption class="code-caption"><?js= example.caption ?></figcaption>
    <?js   } ?>
</figure>
<?js }) ?>
