<?js
    var data = obj;
    var self = this;
?>
<?js data.forEach(function(example) { ?>
<figure class="code-wrap">
    <pre class="prettyprint<?js= self.append(example.lang, ' lang-') ?>"><code><?js= self.htmlsafe(example.code) ?></code></pre>
    <?js   if (example.caption) { ?>
    <figcaption class="code-caption"><?js= example.caption ?></figcaption>
    <?js   } ?>
</figure>
<?js }) ?>
