<?js
    var data = obj;
    var self = this;
    var $ = this.theme.util;
?>
<?js data.forEach(function(example) { ?>
    <pre class="prettyprint<?js= $.if(example.lang, ' lang-{*}') + $.if(example.caption, ' has-caption') ?>"><code><?js= self.htmlsafe(example.code) ?></code><?js if (example.caption) { ?><div class="code-caption hljs"><?js= example.caption ?></div><?js } ?></pre>
<?js }) ?>
