<!DOCTYPE html>
<html<?js if (this.theme.meta.lang) { ?> lang="<?js= this.theme.meta.lang ?>"<?js } ?>>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <?js if (title == 'Home') { ?>
    <title><?js= this.theme.meta.title ?></title>
    <?js } else { ?>
    <title><?js= title ?> | <?js= this.theme.meta.title ?></title>
    <?js } if (this.theme.meta.description) { ?>
    <meta name="description" content="<?js= this.theme.meta.description ?>">
    <?js } if (this.theme.meta.keywords) { ?>
    <meta name="keywords" content="<?js= this.theme.meta.keywords ?>">
    <?js } if (this.theme.meta.author) { ?>
    <meta name="author" content="<?js= this.theme.meta.author ?>">
    <?js } ?>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <script src="scripts/main.js"></script>
    <?js if (this.theme.meta.favicon) { for (let favicon of this.theme.meta.favicon) { ?>
    <link rel="icon" href="<?js= favicon ?>">
    <?js }} ?>
    <link type="text/css" rel="stylesheet" href="modules/color-themes-for-google-code-prettify/dist/themes/<?js= this.theme.code.theme ?>.min.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/theme.css">
    <link type="text/css" rel="stylesheet" href="styles/simplebar.min.css">
    <?js if (this.theme.style) { ?>
    <style><?js= this.theme.style ?></style>
    <?js } ?>
</head>
<body>
<div class="page">

    <header class="masthead">
        <div class="branding">
            <?js if (this.theme.branding.link) { ?>
            <a class="link" href="<?js= this.theme.branding.link ?>">
                <svg class="icon feather"><use xlink:href="modules/feather-icons/dist/feather-sprite.svg#<?js= this.theme.branding.icon || 'home' ?>"/></svg>
            </a>
            <?js } ?>
            <a class="title" href="index.html"><?js= this.theme.branding.title ?></a>
        </div>
        <div class="topbar">
            <h1 class="page-title">
                <a href="#"><?js= title ?></a>
            </h1>
        </div>
    </header>

    <main<?js if (!this.theme.footer.hide) { ?> class="has-footer"<?js } ?>>
        <?js= content ?>

        <?js if (!this.theme.footer.hide) { ?>
        <footer class="colophon">
            <?js if (this.theme.footer.copyright) { ?>
            <p class="copyright"><?js= this.theme.footer.copyright ?></p>
            <?js } ?>
            <?js if (!this.theme.footer.hideCredits) { ?>
            <p class="credits">
                Documentation generated by <a rel="external" href="https://github.com/jsdoc/jsdoc">JSDoc <?js= env.version.number ?></a><br>
                <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { var date = new Date(); ?>
                on <time datetime="<?js= date.toISOString() ?>"><?js= (date) ?></time><br>
                <?js } ?>
                using <a rel="external" href="https://github.com/amekusa/docolatte">docolatte</a> theme
            </p>
            <?js } ?>
        </footer>
        <?js } ?>
    </main>

    <input id="docolatte-shows-sidebar" type="checkbox">
    <label class="overlay" for="docolatte-shows-sidebar"></label>
    <label class="menu-button" for="docolatte-shows-sidebar">
        <div class="shape">
            <i class="icon burger">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </i>
        </div>
    </label>

    <div class="sidebar">
        <div class="toc">
            <?js= this.nav ?>
        </div>
    </div>
</div>

<script>prettyPrint()</script>
<script src="scripts/linenumber.js"></script>

<!-- %DOCOLATTE::DATA_GOES_HERE% -->
<script>
    var _SEARCH = {
        list: document.getElementById('docolatte-search-list').innerHTML,
        index: document.getElementById('docolatte-search-index').innerHTML,
        options: document.getElementById('docolatte-search-options').innerHTML
    };
</script>

</body>
</html>
