<!DOCTYPE html>
<html<?js= this.u.if(this.theme.config.meta.lang, ' lang="{*}"') ?>>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <?js if (title == 'Home') { ?>
    <title><?js= this.theme.config.meta.title ?></title>
    <?js } else { ?>
    <title><?js= title ?> | <?js= this.theme.config.meta.title ?></title>
    <?js } if (this.theme.config.meta.description) { ?>
    <meta name="description" content="<?js= this.theme.config.meta.description ?>">
    <?js } if (this.theme.config.meta.keywords) { ?>
    <meta name="keywords" content="<?js= this.theme.config.meta.keywords ?>">
    <?js } if (this.theme.config.meta.author) { ?>
    <meta name="author" content="<?js= this.theme.config.meta.author ?>">
    <?js } ?>
    <?js if (!this.theme.config.meta.favicon.length) { ?>
    <link rel="icon" title="dummy" href="data:image/x-icon;base64,AA">
    <?js } else { for (let favicon of this.theme.config.meta.favicon) { ?>
    <link rel="icon" href="<?js= favicon ?>">
    <?js }} ?>
    <?js this.u.iterate(this.theme.files.script, file => { ?>
    <script src="<?js= file.url ?>"></script>
    <?js }) ?>
    <?js this.u.iterate(this.theme.files.style, file => { ?>
    <link type="text/css" rel="stylesheet" href="<?js= file.url ?>">
    <?js }) ?>
    <noscript>
        <style>
            [data-ready] {
                visibility: visible !important;
            }
        </style>
    </noscript>
    <?js if (this.theme.config.style) { ?>
    <style><?js= this.theme.config.style ?></style>
    <?js } ?>
</head>
<body>
<div class="page">

    <header class="header">
        <div class="masthead">
            <?js if (this.theme.config.branding.link) { ?>
            <a class="link" href="<?js= this.theme.config.branding.link ?>">
                <svg class="icon feather"><use xlink:href="assets/feather-sprite.svg#<?js= this.theme.config.branding.icon || 'home' ?>"/></svg>
            </a>
            <?js } ?>
            <a class="title" href="index.html"><?js= this.theme.config.branding.title ?></a>
        </div>
        <div class="topbar">
            <h1 class="page-title">
                <a href="#"><?js= title ?></a>
            </h1>
        </div>
    </header>

    <div class="primary<?js= this.theme.config.footer.hide ? '' : ' has-footer' ?>">
        <main class="main">
            <?js= content ?>
        </main>
        <?js if (!this.theme.config.footer.hide) { ?>
        <footer class="footer">
            <?js if (this.theme.config.footer.copyright) { ?>
            <p class="copyright"><?js= this.theme.config.footer.copyright ?></p>
            <?js } ?>
            <?js if (this.theme.config.footer.license) { ?>
            <p class="license"><?js= this.theme.config.footer.license ?></p>
            <?js } ?>
            <?js if (!this.theme.config.footer.hideGenerator) { ?>
            <p class="generator">
                Documentation generated by <a rel="external" href="https://github.com/jsdoc/jsdoc">JSDoc <?js= env.version.number ?></a><wbr>
                using <a rel="external" href="https://github.com/amekusa/docolatte">Docolatte</a> theme
                <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { var date = new Date(); ?>
                <wbr>on <time datetime="<?js= date.toISOString() ?>"><?js= date.toGMTString() ?></time>
                <?js } ?>
            </p>
            <?js } ?>
        </footer>
        <?js } ?>
    </div>

    <input id="docolatte-sidebar-toggle" type="checkbox">
    <label class="overlay" for="docolatte-sidebar-toggle"></label>
    <label class="menu-button" for="docolatte-sidebar-toggle">
        <div class="shape">
            <i class="icon burger">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </i>
        </div>
    </label>

    <div class="sidebar">
        <div class="toc" data-ready="0">
            <?js= this.nav ?>
        </div>
    </div>
</div>

<!-- %DOCOLATTE::DATA_GOES_HERE% -->
<script>
    var _SEARCH = {
        list: document.getElementById('docolatte-search-list').innerHTML,
        index: document.getElementById('docolatte-search-index').innerHTML,
        options: document.getElementById('docolatte-search-options').innerHTML
    };
</script>

</body>
</html>
