<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package' && !this.theme.config.home.package.hide) { ?>
    <article class="package">
        <h3 class="head">
            <span class="package-name"><?js= data.name ?></span>
            <span class="package-version"><?js= data.version ?></span>
        </h3>
    </article>
<?js } ?>

<?js if (data.readme) { ?>
    <article class="readme">
        <?js= data.readme ?>
    </article>
<?js } ?>
