<?js var $ = this.theme.util; ?>
<div class="search-box">
	<input class="search" type="text" placeholder="<?js= this.theme.config.search.placeholder ?>"><?js= $.icon('search') ?>
	<ol class="dropdown"></ol>
	<?js if (!this.theme.config.search.hint.hide) { ?>
	<div class="hint hidden not-for-mobile">
		<?js= $.icon('info') + ' ' + $.lines(this.theme.config.search.hint.body) ?>
	</div>
	<?js } ?>
</div>
