<div class="search-box">
	<input class="search" type="text" placeholder="type to search…"><i class="icon magnifier"></i>
	<ol class="suggestions"></ol>
	<div class="hint hidden not-for-mobile">
		<p><b>Hint:</b> You don't need to click on the search box to input.</p>
		<p class="more">Just start typing your words at <strong>any time</strong> to search for it.</p>
	</div>
</div>
