<div class="search-box">
	<input class="search" type="text" placeholder="type to search…"><i class="icon magnifier"></i>
	<ol class="suggestions"></ol>
	<?js if (!this.theme.config.search.hint.hide) { ?>
	<div class="hint hidden not-for-mobile">
		<?js= this.u.lines(this.theme.config.search.hint.body) ?>
	</div>
	<?js } ?>
</div>
