<?js
    var data = obj;
    var self = this;
    var $ = this.theme.util;
?>
<article class="src">
    <pre class="prettyprint source linenums<?js= $.if(data.lang, ' lang-{*}') ?>"><span class="_char">_</span><code><?js= data.code ?></code></pre>
</article>
