<?js
    var data = obj;
    var lang = data.lang ? (' lang-' + data.lang) : '';
?>
<article class="src">
    <pre class="prettyprint source linenums<?js= lang ?>"><span class="_char">_</span><code><?js= data.code ?></code></pre>
</article>
