<?js
    var data = obj;
    var self = this;
    var { theme } = this;
    var { util: $ } = theme;
?>
<?js= $.list(data, item => $.elem(
    'span', { class: 'param-type' },
    theme.filter('TYPE_STRING', item)
))?>
