// scrollable table wrapper
.table-wrap {
	overflow: auto;

	> table {
		.table-wrap {
			overflow: initial;
		}
	}
}

// code highlighter
.prettyprint {
	.pos(relative);
	.w(auto);
	overflow: auto;
	.fs(@fs-s; 1.5);
	.round(.5rem);
	.ff(@ff-code);

	._char { // for measuring char width
		.pos-tl(0; 0; absolute);
		opacity: 0;
	}
	code {
		display: block;
		.pv(.5em) !important;
		.ph(1em);
	}
	.linenums {
		.pos-tl(0; 0; absolute);

		.linenum {
			box-sizing: border-box;
			opacity: .9;

			&:first-child { .pt(.5em); }
			&:last-child { .pb(.5em); }

			a {
				display: block;
				.br(solid 1px);
				text-align: right;
				text-decoration: none;
				.c(inherit);
				opacity: .35;

				&:hover, &:focus {
					opacity: .75;
				}
			}

			&[data-selected] {

				a {
					opacity: 1;
				}
			}
		}
	}
	&.has-caption {
		@capt-h: 2.5em;

		// @example <caption>...</caption>
		.code-caption {
			.ff(@ff-body);
			.block;
			.pos-tl(0; 0; absolute);
			.w(100%; border-box);
			.ph(1em);
			.oneline(@capt-h; auto);
			.no-scrollbar;
			text-align: right;

			.bg-c(var(--c-code-capt));
			.stripes(var(--stripes-angle); var(--c-code-capt-stripe1); var(--c-code-capt-stripe2); 1px; 3px);
		}
		code {
			.pt((@capt-h + .5em)) !important;
		}
	}
}

.icon {
	.pos(relative);
	.iblock;

	// feather icons (github.com/feathericons/feather)
	&.feather {
		stroke: currentColor;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}
}
