/**
 * Custom Properties
 *
 * TIPS:
 * - You can reference other properties via `var()`
 * - For color props, you can use `color-mix()` for better control of your colors
 */
body {
	/* Colors */
	--c-theme:             #e8e2da;  /* thematic color */
	--c-backdrop:          white;  /* background of the main content area */

	--c-text:              #4d4e53;  /* default text color */
	--c-text-thin:         #5e5f9188;  /* opacity variant 1 */
	--c-text-thinner:      #5e5f9144;  /* opacity variant 2 */

	--c-heading:           #5e5f91;  /* <hN> color */
	--c-heading-thin:      #5e5f91cc;  /* opacity variant 1 */
	--c-heading-thinner:   #5e5f9188;  /* opacity variant 2 */
	--c-heading-link:      var(--c-heading-thinner);  /* link in <hN> */
	--c-heading-link-hov:  var(--c-heading);

	--c-border:            var(--c-text-thin);
	--c-border-thin:       var(--c-text-thinner);

	--c-link:              #0095dd;
	--c-link-hov:          var(--c-link);
	--c-link-visited:      var(--c-link);

	--c-code:              lightseagreen;  /* <code> color */

	--c-member:            hotpink;  /* methods and properties */
	--c-member-attr:       white;  /* member attributes ("static", "readonly", etc.) */
	--c-params:            lightpink;  /* method parameters */
	--c-params-attr:       #ffdcb6;  /* parameter attributes ("opt", "nullable", "non-null") */

	--c-table-border:      var(--c-theme);
	--c-thead-text:        var(--c-text);
	--c-thead-stripe1:     var(--c-theme);
	--c-thead-stripe2:     var(--c-backdrop);

	--c-header:            #454341;
	--c-header-text:       white;
	--c-header-hov:        var(--c-heading);
	--c-header-text-hov:   white;
	--c-topbar-stripe1:    #45434166;
	--c-topbar-stripe2:    #454341cc;

	--c-footer-text:       #a69494;
	--c-footer-link:       var(--c-link);
	--c-footer-link-hov:   var(--c-link-hov);
	--c-footer-stripe1:    var(--c-theme);
	--c-footer-stripe2:    var(--c-backdrop);

	--c-sidebar:           var(--c-theme);
	--c-sidebar-heading:   var(--c-heading);
	--c-sidebar-link:      var(--c-sidebar-heading);
	--c-sidebar-link-hov:  var(--c-sidebar-link);
	--c-sidebar-link-sel:  var(--c-sidebar-link-hov);

	--c-search:            var(--c-backdrop);
	--c-search-text:       var(--c-text);
	--c-search-ph:         var(--c-text-thin);  /* placeholder */
	--c-search-icon:       var(--c-text-thinner);  /* magnifier icon */

	--c-dropdown:          var(--c-backdrop);
	--c-dropdown-text:     var(--c-heading-thin);
	--c-dropdown-hov:      var(--c-dropdown-text);
	--c-dropdown-text-hov: var(--c-dropdown);
	--c-dropdown-sel:      var(--c-heading);
	--c-dropdown-text-sel: var(--c-dropdown);
	--c-dropdown-border:   var(--c-border-thin);
	--c-dropdown-shadow:   #00000044;

	--c-hint:              black;
	--c-hint-text:         white;
	--c-hint-shadow:       #00000088;

	/* Only for mobile */
	--c-menu-btn:          var(--c-sidebar);
	--c-menu-btn-icon:     var(--c-sidebar-heading);
	--c-menu-btn-close:      var(--c-backdrop);
	--c-menu-btn-close-icon: var(--c-text);
	--c-menu-btn-shadow:   #00000088;
	--c-menu-shadow:       #00000044;

	/* Misc. */
	--stripes-angle:       300deg;
}