// Custom Properties
:root {
    --c-black: #4d4e53;
    --c-ink: #5e5f91;
    --c-ink-thin: fade($--c-ink, 50%);
    --c-gray: $--c-ink-thin;
    --c-gray-thin: fade($--c-ink, 25%);
    --c-link: #0095dd;
    --c-latte: #e8e2da;
    --c-choco: #a69494;
    --c-pink: hotpink;
    --c-pink-thin: lightpink;
    --c-pink-spin: spin($--c-pink-thin, 40);
}
