/**
 * Custom CSS properties for Docolatte
 *
 * ## How to customise
 * 1. Copy this file (skin.css) to under your project directory, and edit it.
 * 2. Import the file with `templates.docolatte.imports` option in your JSDoc config JSON.
 *
 *   Example JSON:
 *   {
 *     "templates": {
 *       "docolatte": {
 *         "imports": [
 *           "./skin.css"
 *         ]
 *       }
 *     }
 *   }
 *
 * ## TIPs
 * - You can reference a property via `var()` from one another
 */
:root {
	/* Fonts */
	--font-body:     HelveticaNeue, Helvetica, Arial, sans-serif;
	--font-heading:  Avenir, "Century Gothic", var(--font-body);
	--font-code:     "Fira Code", "Source Code Pro", Menlo, "DejaVu Sans Mono", "Liberation Mono", Consolas, monospace;

	/* Colors */
	--c-theme:             hsl(34, 23%, 88%);  /* thematic color */
	--c-backdrop:          white;  /* background of the main content area */

	--c-text:              hsl(239, 4%, 31%);  /* default text color */
	--c-text-thin:         hsla(239, 21%, 47%, 0.5);  /* opacity variant 1 */
	--c-text-thinner:      hsla(239, 21%, 47%, 0.25);  /* opacity variant 2 */

	--c-heading:           hsl(239, 21%, 47%);  /* <hN> color */
	--c-heading-thin:      hsla(239, 21%, 47%, 0.75);  /* opacity variant 1 */
	--c-heading-thinner:   hsla(239, 21%, 47%, 0.5);  /* opacity variant 2 */
	--c-heading-link:      var(--c-heading-thinner);  /* link in <hN> */
	--c-heading-link-hov:  var(--c-heading);

	--c-border:            var(--c-text-thin);
	--c-border-thin:       var(--c-text-thinner);

	--c-link:              hsl(200, 100%, 43%);
	--c-link-hov:          var(--c-link);
	--c-link-visited:      var(--c-link);

	--c-code:              hsl(177, 70%, 41%);  /* <code> color */
	--c-code-capt:         transparent; /* @example code caption */
	--c-code-capt-stripe1: hsla(0, 0%, 62%, 0.25);
	--c-code-capt-stripe2: hsla(0, 0%, 62%, 0.1);

	--c-member:            hsl(330, 100%, 71%);  /* methods and properties */
	--c-member-attr:       white;  /* member attributes ("static", "readonly", etc.) */
	--c-params:            hsl(351, 100%, 86%);  /* method parameters */
	--c-params-attr:       hsl(31, 100%, 86%);  /* parameter attributes ("opt", "nullable", "non-null") */

	--c-table-border:      var(--c-theme);
	--c-thead:             transparent;
	--c-thead-stripe1:     var(--c-theme);
	--c-thead-stripe2:     var(--c-backdrop);
	--c-thead-text:        var(--c-text);

	--c-header:            hsl(34, 3%, 26%);
	--c-header-text:       white;
	--c-header-hov:        var(--c-heading);
	--c-header-text-hov:   white;

	--c-topbar:            transparent;
	--c-topbar-stripe1:    hsla(34, 3%, 26%, 0.5);
	--c-topbar-stripe2:    hsla(34, 3%, 26%, 0.75);

	--c-footer:            transparent;
	--c-footer-stripe1:    var(--c-theme);
	--c-footer-stripe2:    var(--c-backdrop);
	--c-footer-text:       hsl(0, 9%, 62%);
	--c-footer-link:       var(--c-link);
	--c-footer-link-hov:   var(--c-link-hov);

	--c-bottom:            var(--c-theme);
	--c-bottom-text:       var(--c-footer-text);
	--c-bottom-hov:        var(--c-heading);
	--c-bottom-text-hov:   white;

	--c-sidebar:           var(--c-theme);
	--c-sidebar-heading:   var(--c-heading);
	--c-sidebar-link:      var(--c-sidebar-heading);
	--c-sidebar-link-hov:  var(--c-sidebar-link);
	--c-sidebar-link-sel:  var(--c-sidebar-link-hov);

	--c-search:            var(--c-backdrop);
	--c-search-text:       var(--c-text);
	--c-search-ph:         var(--c-text-thin);  /* placeholder */
	--c-search-icon:       var(--c-text-thinner);  /* magnifier icon */

	--c-dropdown:          var(--c-backdrop);
	--c-dropdown-text:     var(--c-heading-thin);
	--c-dropdown-hov:      var(--c-dropdown-text);
	--c-dropdown-text-hov: var(--c-dropdown);
	--c-dropdown-sel:      var(--c-heading);
	--c-dropdown-text-sel: var(--c-dropdown);
	--c-dropdown-border:   var(--c-border-thin);
	--c-dropdown-shadow:   hsla(0, 0%, 0%, 0.25);

	--c-hint:              black;
	--c-hint-text:         white;
	--c-hint-shadow:       hsla(0, 0%, 0%, 0.5);

	/* Only for mobile */
	--c-menu-btn:          var(--c-sidebar);
	--c-menu-btn-icon:     var(--c-sidebar-heading);
	--c-menu-btn-close:      var(--c-backdrop);
	--c-menu-btn-close-icon: var(--c-text);
	--c-menu-btn-shadow:   hsla(0, 0%, 0%, 0.5);
	--c-menu-shadow:       hsla(0, 0%, 0%, 0.25);

	/* Misc. */
	--border-style:        1px dashed;
	--stripes-angle:       300deg;
}

/**
 * Dark theme
 */
:root[data-color-scheme="dark"] {
	/* Colors */
	--c-theme:             hsl(239, 8%, 11%);  /* thematic color */
	--c-backdrop:          hsl(239, 8%, 13%);  /* background of the main content area */

	--c-text:              hsl(239, 12%, 50%);  /* default text color */
	--c-text-thin:         hsla(239, 12%, 50%, 60%);  /* opacity variant 1 */
	--c-text-thinner:      hsla(239, 12%, 50%, 30%);  /* opacity variant 2 */

	--c-heading:           hsl(239, 60%, 60%);  /* <hN> color */
	--c-heading-thin:      #ffffffcc;  /* opacity variant 1 */
	--c-heading-thinner:   #5e5f9188;  /* opacity variant 2 */
	--c-heading-link:      var(--c-heading-thinner);  /* link in <hN> */
	--c-heading-link-hov:  var(--c-heading);

	--c-border:            var(--c-text-thin);
	--c-border-thin:       var(--c-text-thinner);

	--c-link:              #0095dd;
	--c-link-hov:          var(--c-link);
	--c-link-visited:      var(--c-link);

	--c-code:              lightseagreen;  /* <code> color */
	--c-code-capt:         transparent; /* @example code caption */
	--c-code-capt-stripe1: #aaaaaa44;
	--c-code-capt-stripe2: #aaaaaa11;

	--c-member:            hsl(330, 100%, 45%);  /* methods and properties */
	--c-member-attr:       white;  /* member attributes ("static", "readonly", etc.) */
	--c-params:            hsl(347, 30%, 60%);  /* method parameters */
	--c-params-attr:       #ffdcb6;  /* parameter attributes ("opt", "nullable", "non-null") */

	--c-table-border:      var(--c-text-thinner);
	--c-thead:             transparent;
	--c-thead-stripe1:     var(--c-table-border);
	--c-thead-stripe2:     var(--c-backdrop);
	--c-thead-text:        var(--c-text);

	--c-header:            hsl(245, 25%, 25%);
	--c-header-text:       hsl(245, 12%, 70%);
	--c-header-hov:        var(--c-heading);
	--c-header-text-hov:   white;

	--c-topbar:            transparent;
	--c-topbar-stripe1:    hsla(245, 25%, 25%, 1);
	--c-topbar-stripe2:    hsla(245, 25%, 25%, .25);

	--c-footer:            transparent;
	--c-footer-stripe1:    var(--c-text-thinner);
	--c-footer-stripe2:    var(--c-backdrop);
	--c-footer-text:       var(--c-text);
	--c-footer-link:       var(--c-link);
	--c-footer-link-hov:   var(--c-link-hov);

	--c-bottom:            var(--c-theme);
	--c-bottom-text:       var(--c-footer-text);
	--c-bottom-hov:        var(--c-heading);
	--c-bottom-text-hov:   white;

	--c-sidebar:           var(--c-theme);
	--c-sidebar-heading:   var(--c-heading);
	--c-sidebar-link:      var(--c-sidebar-heading);
	--c-sidebar-link-hov:  var(--c-sidebar-link);
	--c-sidebar-link-sel:  var(--c-sidebar-link-hov);

	--c-search:            hsl(239, 8%, 18%);
	--c-search-text:       var(--c-text);
	--c-search-ph:         var(--c-text);  /* placeholder */
	--c-search-icon:       var(--c-text-thin);  /* magnifier icon */

	--c-dropdown:          var(--c-backdrop);
	--c-dropdown-text:     var(--c-heading-thin);
	--c-dropdown-hov:      var(--c-dropdown-text);
	--c-dropdown-text-hov: var(--c-dropdown);
	--c-dropdown-sel:      var(--c-heading);
	--c-dropdown-text-sel: var(--c-dropdown);
	--c-dropdown-border:   var(--c-border-thin);
	--c-dropdown-shadow:   #00000044;

	--c-hint:              black;
	--c-hint-text:         white;
	--c-hint-shadow:       #00000088;

	/* Only for mobile */
	--c-menu-btn:          var(--c-sidebar);
	--c-menu-btn-icon:     var(--c-sidebar-heading);
	--c-menu-btn-close:      var(--c-backdrop);
	--c-menu-btn-close-icon: var(--c-text);
	--c-menu-btn-shadow:   #00000088;
	--c-menu-shadow:       #00000044;

	/* Misc. */
	--border-style:        1px dashed;
	--stripes-angle:       300deg;
}
